@model console.Models.tbl_Wishlist

@{
    ViewBag.Title = "Wishlist";
}

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>My Wishlist</h4></div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Item Description</th>
                <th>Availabilty</th>
                <th>Department</th>
                <th>Unit Price</th>
                <th>Sub Total</th>
            </tr>
        </thead>
    </table>
</div>

<<<<<<< HEAD
<div class="form-group">
    <div class="text-right">
        <input type="submit" value="Add to Cart" class="btn btn-primary" />
    </div>
</div>

=======
>>>>>>> e8eaea3c65c7e46889a3d27d761f1ef3c984a03a
