@model console.Models.tbl_Order

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>My Wishlist</h4></div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Order Date</th>
                <th>Title</th>
                <th>Status</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
    </table>
</div>

