@model console.Models.tbl_User

@{
    ViewBag.Title = "User";
}

<h2>My Account</h2>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading"> <h4>Orders</h4> </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading"> <h4>Payments &Aacute; Credit </h4></div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading"> <h4>Digital Library </h4></div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading"> <h4>Customer Information</h4> </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading"> <h4>Wishlist</h4> </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading"> <h4>FAQ Quick Links </h4></div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>